
news-homepage-main/style-guide.md
news-homepage-main/README.md
news-homepage-main/README-template.md
news-homepage-main/design/mobile-design.jpg
news-homepage-main/design/mobile-menu.jpg
news-homepage-main/design/desktop-preview.jpg
news-homepage-main/design/desktop-design.jpg
news-homepage-main/design/active-states.jpg
news-homepage-main/assets/fonts/static/Inter-Regular.ttf
news-homepage-main/assets/fonts/static/Inter-ExtraBold.ttf
news-homepage-main/assets/fonts/README.txt
news-homepage-main/assets/fonts/static/Inter-Bold.ttf
news-homepage-main/assets/fonts/Inter-VariableFont_slnt,wght.ttf
